<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    
    
  
  <!-- Estilos css nuevo template -->
   <!-- - <link rel="stylesheet" th:href="@{/css/bootstrap.css}">-->
   
   <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">  
   <link th:href="@{/css/nprogress.css}" rel="stylesheet">    
    <link th:href="@{/css/green.css}" rel="stylesheet">	    
    <link th:href="@{/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet">    
    <link th:ref="@{/css/jqvmap.min.css}" rel="stylesheet"/>    
    <link th:href="@{/css/daterangepicker.css}" rel="stylesheet">    
    <link th:href="@{/css/custom.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>
    
     <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
     <script th:src="@{/js/jquery-ui.js}"></script>
     <script src="https://kit.fontawesome.com/8a30d08bf4.js" crossorigin="anonymous"></script>     
     
</head>
<body class="nav-md">
		<div class="container body">
      <div class="main_container">
        <div th:fragment="botonDown" class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a th:href="@{/menu/}" class="site_title"><i class="fas fa-hospital"></i><span>Hospital General</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img th:src="@{/img/user.png}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <span sec:authentication="name"></span><br>
                  <span sec:authentication="principal.authorities"></span>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Mantenimiento <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/medicos/listar}">Doctores</a></li>
                      <li><a th:href="@{/pacientes/listar}">Pacientes</a></li>
                      <li><a th:href="@{/medicamentos/listar}">Medicamentos</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Cuidados <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">Atenciones</a></li>
                    </ul>
                  </li>
                  
                </ul>
              </div>              

            </div>
            <!-- /sidebar menu -->

  <!-- Mostrar errores o advertencias -->

		<div class="alert alert-danger alert-dismissible fade show"	role="alert" th:if="${error !=null}">
			<span th:text="${error}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success !=null}">
			<span th:text="${success}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		
		<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info !=null}">
			<span th:text="${info}"></span>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>



            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout" th:href="@{/}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div th:fragment="perfil" class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/img/user.png}" alt="">
                    Marco CC
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="javascript:;"> Profile</a>
                      <a class="dropdown-item"  href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                  <a class="dropdown-item"  href="javascript:;">Help</a>
                  <form th:action="@{/logout}" method="post">
                    <button type="submit" class="dropdown-item"  th:href="@{/}"><i class="fa fa-sign-out pull-right"></i> Log Out</button>
                    
                    </form> 
                  </div>
                </li>

                
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">                 
          <div class="row">
            <div class="col-md-4 col-sm-4 ">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Recent Activities <small>Sessions</small></h2>                  
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- footer content -->
        <footer th:fragment="footer">
          <div class="pull-right">
            Seguro - Servicios  <a href="https://colorlib.com">H</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>


	<div th:fragment="javas">
	
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/fastclick.js}"></script>
    <script th:src="@{/js/nprogress.js}"></script>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/gauge.min.js}"></script>
    <script th:src="@{/js/bootstrap-progressbar.min.js}"></script>
    <script th:src="@{/js/icheck.min.js}"></script>  
    <script th:src="@{/js/skycons.js}"></script>
    <script th:src="@{/js/jquery.flot.js}"></script>
    <script th:src="@{/js/jquery.flot.pie.js}"></script>
    <script th:src="@{/js/jquery.flot.time.js}"></script>
    <script th:src="@{/js/jquery.flot.stack.js}"></script>
    <script th:src="@{/js/jquery.flot.resize.js}"></script>
    <script th:src="@{/js/jquery.flot.orderBars.js}"></script>
    <script th:src="@{/js/jquery.flot.spline.min.js}"></script>
    <script th:src="@{/js/curvedLines.js}"></script>
    <script th:src="@{/js/date.js}"></script>    
    <script th:src="@{/js/jquery.vmap.js}"></script>
    <script th:src="@{/js/jquery.vmap.world.js}"></script>
    <script th:src="@{/js/jquery.vmap.sampledata.js}"></script>    
    <script th:src="@{/js/moment.min.js}"></script>
    <script th:src="@{/js/daterangepicker.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
	</div>   
</body>
</html>